<div>
    <nav>
        <button 
        mat-raised-button 
            (click)="logout()"
            color="primary"
            style="margin-right: 10px;"
            >
            Logout
        </button>
        <button
        mat-raised-button
            (click)="redirectProfile()"
            color="primary"
            style="margin-right: 10px;"
            >
            User Profile   
        </button>
        
    </nav>

    <div class="movie-grid" (scroll)="updateArrowVisibility($event.target)">
        <mat-card *ngFor="let movie of movies; let i=index;">
            <mat-dialog-content>
                <mat-card-title>{{movie.Title}}</mat-card-title>
                <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            </mat-dialog-content>   
            <img src={{movie.ImagePath}} width="300px" height="350px"/>
            <mat-card-actions>
                <button
                    mat-button
                    color="secondary"
                    (click)="showGenre(movie)"
                >
                    Genre
                </button>
                <button
                    mat-button
                    color="secondary"
                    (click)="showDirector(movie)"
                >
                    Director
                </button>
                <button
                mat-button
                color="secondary"
                (click)="showDetail(movie)"
                >
                    Synopsis
                </button>

                <mat-icon
                fontIcon="{{ movie.isFavorite ? 'favorite' : 'favorite_border'}}"
                    id="{{movie._id}}-favorite-icon"
                    (click)="modifyFavoriteMovies(movie._id)"
                >favorite_border</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
</div>